@font-face {
  font-family: 'Sukar';
  src: url('SukarRegular.eot');
  src: url('SukarRegular.eot?#iefix') format('embedded-opentype'),
      url('SukarRegular.woff2') format('woff2'),
      url('SukarRegular.woff') format('woff'),
      url('SukarRegular.ttf') format('truetype'),
      url('SukarRegular.svg#SukarRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90%;
  max-width: 900px;
  padding: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  margin-bottom: 0em;
  background-color: white;
  font-family: 'Sukar';
  overflow: auto;
}

body {
background-color: #21150d;
margin-top: 9em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  background-image: url(../uploads/BackgroundLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 9em;
}

header .branding h1 {
display: none;
}  

header h1 a {
  color: white;
}

.recipe-teaser {
  border: 10px solid white;
  padding: 1em;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 1em;
}

.recipe-teaser h1 {
  font-size: 26px;
  font-family: 'Sukar';
  flex-basis: 300px;
  flex-grow: 1;
  margin: 1cm;
  padding: 1em;
}

.recipe-teaser a:hover {
  color: #5d4934;
}

.post-content h1 {
  font-size: 30px;
  font-family: 'Sukar';
  color: #423425:
}

.post-content h2 {
  font-size: 25px;
  font-family: 'Sukar';
}

.post-content h3 {
  font-size: 20px;
  font-family: 'Sukar';
}

p {
  color: #423425;
  margin-bottom: 1em;
  margin-top: 30px;
  font-family: 'Sukar';
  overflow: auto;
}

ul {
  color: #423425;
  margin-bottom: 1cm;
  margin-top: 1cm;
  margin-left: 2cm;
  margin-right: 2cm;
  font-family: 'Sukar';
}

li {
  margin-top: 5mm;
  margin-bottom: 5mm;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  font-size: 15px;
  bottom: 0;
  height: 3em;
  width: 100%;
  background-color: white;
  margin-top: -30px;
}

@media (max-width:700px);
nav {
  margin: 0;
  position: static;
  width: 100%;
}

.video-box {
  width: 100%;
  max-width: 900px;
  padding: 1.5em;
  margin: auto;
  margin-bottom: 0em;
  background-color: white;
  font-family: 'Sukar';
}

.post-content ol {
padding: 2em;
}

.home {
  width: 50%;
  float: right;
  margin: 2em auto;
}

.home img {
  width:100%;
  }

  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav {
    background-color: black;
    display: block;
    width: 20%;
    padding: 1em;
    margin: 0;
    min-width: 120px;
    position:fixed;
    top:9em;
    left:0;
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
  font-size: 8px;
  }
  
